.container{
   
    width: 100%;
    background-color: red;
    text-align: center;
}
.mobile-device{
    margin:0 auto;
   display: inline-block;
    width: 220px;
    height: 446px;
    background-image: url(./images/mobile-design-frame.png);
    margin-left: 20px;
}
.mobile-device img{
    padding-top:55px;
    padding-left: 2px;
}