@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

@media only screen and (min-width:400px){

    body{
        min-width: 1519px;
    }
}