/*Added*/.clearfix {
    clear: both;
}
.clearfix:after {
  clear: both; 
  content: "";
  display: table; 
}

.heading-text{
    font-size: 40px;
    font-weight: 400;
}
.wrapper{
    width: 73.1875em;
   margin: 0 auto;
}

.btn{
    height: 70px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    padding:0 60px;
    cursor: pointer;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(255,108,84);
background: -moz-linear-gradient(190deg, rgba(255,108,84,1) 0%, rgba(255,43,89,1) 100%);
background: -webkit-linear-gradient(190deg, rgba(255,108,84,1) 0%, rgba(255,43,89,1) 100%);
background: linear-gradient(190deg, rgba(255,108,84,1) 0%, rgba(255,43,89,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6c54",endColorstr="#ff2b59",GradientType=1);

}

.main-container{
    width:100%
}

.main-wrapper{
    width: 73.1875em;
    margin: 0 auto;
}



.iphone{
    position: absolute;
    bottom: -40px;
    width: 220px;
    height: 446px;
    background: url(../images/mobile-design-frame.png);
    background-repeat: no-repeat;
   
}
.iphone-small{
    width: 165px;
    height: 335px;
    background: url(../images/mobile-design-frame-small.png);
    background-repeat: no-repeat;
}

.iphone img{
    width: 87%;
    padding-top:55px;
    padding-left: 14px;
}
.iphone-small img{
    width: 87%;
    padding-left: 8px;
    padding-top:35px;
}

.heading-section{
    width: 100%;
  background-image: url(../images/heading-bg-image.jpg);
  position: relative;
  
  
  }
  .heading-overlay{
    width: 100%;
    background: rgb(60,250,176);
  background: -moz-linear-gradient(164deg, rgba(60,250,176,0.8018557764902836) 0%, rgba(52,162,159,0.5441526952577906) 100%);
  background: -webkit-linear-gradient(164deg, rgba(60,250,176,0.8018557764902836) 0%, rgba(52,162,159,0.5441526952577906) 100%);
  background: linear-gradient(164deg, rgba(60,250,176,0.8018557764902836) 0%, rgba(52,162,159,0.5441526952577906) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3cfab0",endColorstr="#34a29f",GradientType=1);
  
  }