.app {
  height: 700px;
  width: 1000px;
  background-image: url(./images/texture.jpg);
  position: relative;

}

.box {

  position: absolute;
  /* border-radius: 50%; */
  border: 1px solid black;

}

img {
  width: 100%;
  height: auto;
}