@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper-right {

  width: 100%;
  height: inherit;
  /* background-color: black; */
  /* background-color: #333646; */
}

#app {
  padding: 20px;

}

.wrapper-left {
  width: 100%;
  height: inherit;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper-left-header {
  height: 50px;
  width: 100%;
  background-color: #21222c;

}

.wrapper-left-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  line-height: 25px;
  color: white;
  background-color: #191a21;
  font-size: 15px;
  display: flex;
  flex-direction: row-reverse;
  font-weight: 300;
}

#lineInfo {
  width: 15%;
}

#errorMsg {
  width: 85%;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
}



textarea {
  resize: none;
  height: calc(100% - 50px - 25px);
  outline: none;
  margin: 0;
  border: 0;
  padding-top: 5px;
  background-color: #282a36;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
}

.line-number {
  position: relative;
  float: left;
  width: 45px;
  overflow-y: hidden;
  font-family: Consolas, "Courier New", monospace;
  text-align: center;
  border-right: 1.5px solid #424450;
  color: #6272a4;

}

.text-area {
  float: right;
  width: calc(100% - 45px);
  color: white;
  padding-left: 1px;
}