* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper-right {

  width: 100%;
  height: inherit;
  /* background-color: black; */
  background-color: #333646;
}

#app {
  padding: 20px;

}

.wrapper-left {
  width: 100%;
  height: inherit;
  position: relative;
}

.wrapper-left-header {
  height: 50px;
  width: 100%;
  background-color: red;
}

.wrapper-left-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: red;
}




textarea {
  resize: none;
  height: calc(100% - 50px - 25px);
  outline: none;
  margin: 0;
  border: 0;
  padding-top: 5px;
  background-color: #282a36;
  font-size: 18px;
  line-height: 25px;
}

.line-number {
  position: relative;
  float: left;
  width: 45px;
  overflow-y: hidden;
  font-family: Consolas, "Courier New", monospace;
  text-align: center;
  border-right: 1.5px solid #424450;
  color: #6272a4;

}

.text-area {
  float: right;
  width: calc(100% - 45px);
  color: white;
  padding-left: 1px;
}