.header-container{
    width: 100%;
    background-color: #76c7c1;
    height: 71px;
}

.header-wrapper{
    width: 78%;
    margin:0 auto;
   
}

.header-wrapper-left{
    float:left;
  padding-top: 21px;
 
    
}
.header-wrapper-right{
    float:right;
    height: 71px;
    line-height: 71px;
  
   
}
.header-menu{
    list-style-type: none;
    float: left;
}


.search-icon{
    float:right;
    height:34px;
    width:34px;
    background-image: url(../images/search-icon-inactive.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 20px;
   
}
.search-icon:hover{
    background-image: url(../images/search-icon-active.png);
}

.header-menu>li{
    display: inline-block;
    height: 33px;
     width: 104px;
     line-height: 33px;
    text-align: center;
    font-size: 12px;
   
   
} 

.header-menu>li>a{
    text-decoration: none;
    color:white;
    
}
.header-menu>li:hover{
    background-image: url(../images/menu-hover.jpg);
    background-repeat: no-repeat ;
}

.body-header{
    
    height: 80px;
    line-height: 80px;
    background-color: #ececec;
    color: #808a89;
  
}
.body-header-wrapper{
    width: 78%;
    margin:0 auto;
   
}
.body-header-left{
    float: left;
    font-size: 17px;
}
.body-header-right{
    float: right;
}




.project-slider{
    max-width: 78%;
    margin:0 auto;
   
   
}





.blog-slider{
    max-width: 78%;
    margin:0 auto;
    display: block;
    height: auto;
    
   
}
.blog-slider-left{
    float: left;
    max-width: 74.444444%;
   

}
.blog-slider-right{
    float: right;
    max-width: 23.162393%;
   
}


.sidebar-bottom>p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: #808a89;
    margin-bottom: 30px;
}
.gallery{
    list-style-type: none;
}
.gallery>li{
  display: inline-block;
   width: 31%;
   text-align: center;
  
  
    
}
.gallery>li>a>img{
    max-width: 100%;
}

.section-third{
    max-width: 78%;
    margin:0 auto; 
    margin-top: 30px;
 
   
 
    
   
}


/* card start */
.card-wrapper{
    width: 100%;
   list-style-type: none;
   display: inline-block;
  
   
}
.card-wrapper>.card{
   float: left;
    width:24%;
    height:315px;
    background-image: url(../images/card-1-inactive.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 30px;
   


}
.card-wrapper>.card:last-child{
    margin:0;
}
.card-wrapper>.card:hover{
    background-image: url(../images/card-1-active.jpg);
}
.card-wrapper>.card:hover .card-btn{
    background-image: url(../images/card-btn-active.jpg);
}
.card>.card-content{
width: 100%;
text-align: center;
margin-top: 124px;


}
.card>.card-content>.head{
    font-size: 20px;
    padding-bottom: 20px;
    color: #7a8382;
}
.card>.card-content>.body{
    font-size: 13px;
    line-height: 21px;
    padding:10px;
    color:#717171;
}
.card>.card-btn{
    width: 80%;
   height: 55px;
    background-image: url(../images/card-btn-inactive.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    line-height: 55px;
    left: 12%;
    bottom:-20px;
   
    text-align: center;
    color:white;
   

}
/* card end */


/* accordion start */
.section-accordion{
    width: 78%;
    margin:0 auto; 
    min-height: 260px;

    margin-top:50px;
  
    
  
}
.accordion-left{
   float: left;
    width:74.444444%;
    height: 225px;
    
   
}
.accordion-right{
    float:right;
    width: 23.162393%;
    height: 225px;
   
 
   
}

.section-accordion .accordion{
    list-style-type: none;
    width: 100%;
}
.section-accordion .accordion>li{
    min-height:54px;  
    background-image: url(../images/plus-sign.jpg),url(../images/accordion-bar.jpg);
    background-position: 98% 50%,left center;
    background-repeat: no-repeat,repeat-x;
    line-height: 54px;
    font-weight: bold;
    font-size: 20px;
    color:#7e8484;  
    padding-bottom: 9px;
    cursor: pointer;
}
.section-accordion .sidebar-accordion>li{
    min-height:54px;
    width: 271px;
}

.section-accordion .accordion>li>.content{
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    padding-left:15px;
    display: none;
   
   
}
.section-accordion .accordion>li:active{
    height:126px;
    background-image: url(../images/minus-sign.jpg),url(../images/accordion-active-bar.jpg);
    background-position: 98% 18%,left center;
    background-repeat: no-repeat,repeat-x;
}
.section-accordion .accordion>li:active .content{
    display: block;
}

.section-accordion .accordion .active{
    height:126px;
    background-image: url(../images/minus-sign.jpg),url(../images/accordion-active-bar.jpg);
    background-position: 98% 18%,left center;
    background-repeat: no-repeat,repeat-x;
}

.section-accordion .accordion .active>.content{
    display: block;
}
.section-accordion .accordion>li>p{
    padding-left: 10px;
}


/* accordion end */

.section-tab{
    min-height: 225px;
  
}
.section-tab .tab-list{
    list-style-type: none;
    height: 50px;
}
.section-tab li{
    float: left;
    height: 50px;
    margin-right: 10px;
    background-image: url(../images/tab-inactive.jpg);
    background-repeat: no-repeat;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    color:white;
    padding:0 10px;
    font-weight: bold;
    text-align: center;
}
.section-tab li:hover{
    background-image: url(../images/tab-hover.jpg);
}
.section-tab li:active{
    background-image: url(../images/tab-active.jpg);
    color:#7e8484;  
}
.section-tab .active{
    background-image: url(../images/tab-active.jpg);
    color:#7e8484;  
}
.section-tab .tab-content{
    width: 100%;
    padding:20px;
    background-image: url(../images/tab-content-bar.jpg);
    background-repeat: repeat-x;
  
   
}
.section-tab .tab-content-left{
   float: left;
  width: 70%;
  color:#7e8484; 
 
}
 .section-tab .tab-content-right{
   float: right;
    text-align: center;
    width: 20%;
    height: 112px;
    
 
   
} 
.section .tab-content-right img{
    max-width: 100%;
    height: auto;
}
/* tab start */

/* image -card */

.image-card-container{
    width: 78%;
    margin:0 auto; 
    margin-top: 50px;
    min-height: 275px;
}
.image-list{
  
    list-style-type: none;
    
}
.image-list li{
   display: inline-block;
    width: 23.162393%;
    height: 295px;
    background-image: url(../images/image-card-default.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: relative;
    
}
.image-list li:hover{
    background-image: url(../images/image-card-overlay-bg.jpg);
}
.image-list .overlay{
    display: none;
    position: absolute;
    text-align: center;
    top:40%;
    left: 30%;
  
}
.image-list li:hover .overlay{
    display: block;
    
}
.image-list .overlay-btn-list{

 width:100%;
 list-style-type: none;
 margin-bottom: 20px;
}
.image-list .watch-icon{
   
    width: 40px;
    height: 41px;
    
  background-image: url(../images/watch-icon-inactive.jpg);   
  background-repeat: no-repeat;
}
.image-list .watch-icon:hover{
    background-image: url(../images/watch-icon-active.jpg); 
}
.image-list .link-icon{
    
    width: 40px;
    height: 41px;
   
    background-image: url(../images/link-icon-inactive.jpg);   
  background-repeat: no-repeat;
}
.image-list .link-icon:hover{
    background-image: url(../images/link-icon-active.jpg);   
}
.image-list .caption{
   color:white;
}

.image-card-container-large li{
    width:49%;
    border:1px solid;
    height: 279px;
    background-image: url(../images/image-large-card-default.jpg);
}
.image-card-container-large li:hover{
    background-image: url(../images/image-large-card-overlay-bg.jpg);
}
.image-card-container-large .overlay{
    top:40%;
    left: 38%;
}

/* end of image card */

/* paragraph section start */

.paragraph-section{

    width: 78%;
    margin:0 auto; 
    margin-top: 50px;
    color:#7e8484; 
    height: 500px;
    
}
.paragraph-wrapper .heading{
   
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
   
}
.paragraph-wrapper .content{
    font-size: 12px;
   
}
.paragraph-col-2{
    margin-top: 20px;
   

}
.paragraph-col-2 .left{
    float: left;
    width: 49%;
  
}
.paragraph-col-2 .right{
    float: right;
    width: 50%;
}


.paragraph-col-2-second{
    margin-top: 50px;
  
  
}
.paragraph-col-2-second .left{
    float: left;
    width: 74%;
  
}
.paragraph-col-2-second .right{
    float: right;
    width: 24%;
}

.paragraph-col-2-third{
    list-style-type: none;
    margin-top: 50px;
   


}
.paragraph-col-2-third li{
    float: left;
    width: 24.7%;
   

}
.list-section{
    width: 78%;
    margin:0 auto; 
    color:#7e8484; 
    margin-top: 50px;
  
  
    
}
.list-wrapper{
    display: inline-block;
    width: 22%;
  padding-left: 20px;
  
}

.list-section .heading{
    font-weight: bold;
  
}
.list-section li{
   height: 26px;
   
}
.list-section .item-list-1{
    list-style-image: url(../images/list-arrow.jpg);
    font-size: 13px;
}
.list-section .item-list-2{
    list-style-image: url(../images/list-cross.jpg);
    font-size: 13px;
}
/* paragraph section end */


/* headline :start */
.headline-section{
    width: 75%;
    margin:0 auto; 
    margin-top: 50px;
   
    background-image:url(../images/headline-bg.jpg);
    background-repeat: no-repeat;
    padding:20px;
    color:#7e8484; 
    position: relative;
   
}
.headline-section .heading{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.headline-section .view-btn{
    width: 201px;
    height: 55px;
    background-image: url(../images/headling-button.jpg);
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    top: 20%;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 55px;
}

/* headline stop */

/* table section start */
.table-section{
    width: 78%;
    margin:0 auto; 
    margin-top: 50px;
    margin-bottom: 50px;
 
}
.table-section table{
    width: 100%;

}
.table-section table, td, th {  
    border: 1px solid #dfdfdf ;
    text-align: left;
  }
  .table-section th{
        background-image: url(../images/table-header-bar.jpg);
        background-repeat: repeat-x;
}
table td{
   font-size: 13px;
    
    background-image: url(../images/table-body-bar.jpg);
    background-repeat: repeat-x;
}
.table-section table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-section th, td {
    padding: 15px;
  }

.table-section-second{
    margin-top: 25px;
    
}
.table-section .table-section-left{
    display: inline-block;
    width: 49%;    
    margin-left: 10px;
}
.table-section .table-section-right{
    display: inline-block;
    width: 49%;    
    margin-left: 2px;
}

.table-section th{
    background-image: url(../images/table-header-bar.jpg);
    background-repeat: repeat-x;
}
.table-section-left th{
    background-image: url(../images/table-header-bar-green.jpg);
    background-repeat: repeat-x;
    color:white
}
.table-section-right th{
    background-image: url(../images/table-header-bar-green.jpg);
    background-repeat: repeat-x;
    color:white
}

/* table section end */

/* footer scale */
.footer-scale{
    height: 21px;
    width: 100%;
    background-image: url(../images/footer-scale.jpg);
    background-repeat: repeat-x;
}

/* end of footer scale */

/* footer-section */

.footer-container{
    width: 100%;
    background-color: #76c7c1;
   
}
.footer-section{
    width: 78%;
    margin:0 auto;
    display: block;
    padding-top: 20px;
   
}
.footer-section .section-1{
    float: left;
width: 35%;
height: inherit;

}

.section-1 p{
    padding-top: 20px;
    font-size: 14px;
    color:white;
}
.section-1 .phone .contact{
    width: 95%;
    height: 20px;
   
   
}
.section-1  label{
    float:left;
    width: 20%;
    color:white;
   
}
.section-1  span{
    float:right;
    width: 80%;
    color:white;
   
    font-style: italic;
    
}
.footer-section .section-2{
    float: left;
    width: 13%;
    height: inherit;
   
    }
.footer-section .section-3{
    float: left;
        width: 15%;
        height: inherit;
      
        }
.footer-section .section-4{
    float: left;
            width: 35%;
            height: inherit;
            
          
            }


.section-2>p{
    font-size:24px;
    color:#7e8484; 
    font-weight: bold;
    padding-bottom: 20px;
}
.list-item li{
   list-style-image: url(../images/right-arrow.jpg);
   color:white;
   height: 25px;
   margin-left: 30px;
}    


.section-4 .blog-post{
    width: 100%;
    height: 60px;
    padding-top:10px;
    
}
.section-4 .blog-post li{
    list-style-type: none;
    
}
.section-4 .blog-image{
    float: left;
    width: 23%;
}
.section-4 .blog-content{
    float:right;
    width: 72%;
    padding-top: 5px;
   
}
.blog-content a{
    font-size:14px;
    text-decoration: none;
    color:white
}
.blog-content p{
    margin:0;
    padding:0;
    padding-top: 10px;
    font-size:13px;
}
/* end of footer section */