/*Added*/.clearfix {
    clear: both;
}
.clearfix:after {
  clear: both; 
  content: "";
  display: table; 
}

.nav-drawer{
    display: none;
    cursor: pointer;
}

.main-body{
    background-color: #f3f3f3;
}

.header-bottom{
    height:11px;
        background-image: url(../images/scale-line.jpg);
        background-repeat: repeat-x;
}

.breadcrumb{
    list-style-type: none;

}
.breadcrumb >li{
    display: inline;
}
.breadcrumb>li>a{
    text-decoration: none;
    color: #808a89;
}
.breadcrumb li+li:before {
    padding: 9px;
    color: #898989;
    content: "/\00a0";
  }
/* slider -start */
.slider-container{
    width: 100%;
    position: relative;
    height: auto;
 }
 .slider-image-wrapper>img{
     width: 100%;
 }
 .slider-image-wrapper>.caption{
     position: absolute;
     width: 100%;
     bottom: 20%;
     left: 0;
     text-align: center;
     text-transform: uppercase;
     font-size: 1.5em;
     font-weight: bold;
    
     color: #abb5b4;
 }
 .slide-prev, .slide-next{
    position: absolute;
    top:40%;
    height:12%;
    width: 5.740528%;
  background-repeat: no-repeat; 
  background-size: contain;
 }
 .slide-prev{
     left: 0;
     background-image: url(../images/slider-left.jpg);
 }
 .slide-next{
     right: 0px;
     background-image: url(../images/slider-right.jpg);
 }
 .slider-bottom{
    height: 52px;
    line-height: 52px;
     text-align: center;
    
    
 }
 .slider-bottom>.slider-list{
     list-style-type: none;  
 }
 .slider-bottom>.slider-list>li{
     display: inline-block;
     width:5.128205%;
     height: 5px;
     background-image: url('../images/slider-bottom-inactive.jpg');
     background-repeat: no-repeat;
 }
 .slider-bottom>.slider-list>li:nth-child(2){
     background-image: url('../images/slider-bottom-active.jpg');
 }
 
 /* slider-end */

.sidebar-top{
    font-size: 10px;

}



/* footer lower  */
.lower-footer-bottom-container{
    width: 100%;
  background-color: #6bb4ad;
   
}
.lower-footer-bottom-wrapper{
    margin:0 auto;
    width: 78%;
    height: 50px;
    list-style-type: none;
    line-height: 50px;
    
}

.lower-footer-bottom-container .lower-footer-left{
   float: left;
    color: white;
   
}


.lower-footer-bottom-container .lower-footer-right{
    
   float: right;
    width: auto;
    height: 50px;
   
}

.social-icon{
    list-style-type: none;
}
.social-icon li{
    float: left;
    margin-left: 20px;
  
   
}



/* end of footer lower */

@media only screen and (max-width:1175px){
    .header-wrapper{
        width: 100%;
    }
    .nav-drawer{
        padding-left: 10px;
        display: inline-block;
    }
    
    .header-menu{
        display: none;
    }
    .project-slider{
        max-width: 95%;
    }
    .blog-slider{
        max-width: 95%;
    }
    .section-third{
        max-width: 95%;
       
    }
    .accordion-left{
        width: 100%;
    }
    .accordion-right{
        display: none;
    }
    .section-accordion{
        width: 95%;  
    }
    .section-tab .tab-content-left{
        float: none;
        width: 90%;
       
    }
    .section-tab .tab-content-right{
        float: none;
        width: 100%;
        display: none;
       
    }
    .image-card-container{
        width:95%;
    }
    .card-wrapper>.card{
        width:30%;
    }
    .card>.card-btn{
        width:50%;

       
    }
    
}

@media only screen and (max-width:768px){
    /* ipad screen */
    .nav-drawer{
        padding-left: 10px;
        display: inline-block;
    }
    .header-menu{
        display: none;
    }

    .slider-image-wrapper>.caption{
        font-size: 17px;
    }
    .project-slider{
        max-width: 95%;
    }
    .blog-slider{
        max-width: 95%;
    }
    .slider-image-wrapper>.caption{
        font-size: 0.8;
    }
    .blog-slider-right{
        display: none;
    }
    .blog-slider-left{
        max-width: 100%;
    }
    .section-third{
        max-width: 95%;
       
    }
   

    .card-wrapper>.card{
        width:272px;
        height:315px;
       
    }
    .card-wrapper>.card:nth-child(2n){
      
         margin-left: 115px;
        
    }

    .card>.card-btn{
        width: 200px;
       height: 55px;
        line-height: 55px;
        font-size: 17px;
    }
    .card>.card-content{
        margin-top: 120px;
        
    }
    .card>.card-content>.head{
        font-size: 25px;
        padding-bottom: 10px;
    }
    .card>.card-content>.body{
        font-size: 12px;
        line-height: 19px;
    }

    /* accordion */
    .section-accordion{
        max-width: 95%;
    }
    .accordion-left>ul>li{
        max-width:725px;
    }
    .section-tab .tab-content-left{
        float: none;
        width: 90%;
       
    }
    .section-tab .tab-content-right{
        float: none;
        width: 100%;
        display: none;
       
    }
    .image-list li{
        width:46%;
    }
    .image-list .overlay{
       
        left: 27%;
    }

    .image-card-container-large>.image-list>li{
        display: block;
        width: 95%;
        height: 350px;
        margin-bottom: 20px;
    }
    .image-card-container-large .overlay{
        left:40%;
        top:40%;
    }
    .paragraph-section{
        width:93%
    }
    .paragraph-col-2-second ,.paragraph-col-2-third{
        display: none;
    }
    .paragraph-section{
        height: 100%;
    }
    .list-section{
        width: 95%;
    }
    .list-wrapper{
        width:45%;
    }

    .table-section{
        width:95%;
    }
    .table-section .table-section-left{
        display: none;
        width: 95%;
        margin-bottom: 80px;
    }
    .table-section .table-section-right{
        display: none;
        width: 95%;
    }
    .headline-section{
        width: 87%;
    }
    .headline-section .heading{
        font-size: 13px;
    }
    .headline-section .content{
        font-size: 10px;
    }
    .headline-section .view-btn{
        width:20%;
        height: 35px;
        font-size: 12px;
    }
   
        

  
}

@media only screen and (max-width:375px){
    /*iphone x screen */
    .header-wrapper{
        width: 95%;
    }
    .body-header-wrapper{
        width: 95%;
    }
    .slider-image-wrapper>.caption{
        font-size: 0.5;
    }
    .section-third{
        max-width: 95%;
        
    }
    .card-wrapper>.card{
        width:152px;
        height:195px;
        margin-right: 30px;
        
    }
    .card-wrapper>.card:nth-child(2n){
        margin-right:0px;
        margin-left: 0px;
        border:1px solid red
    }
    .card>.card-btn{
        width: 95px;
       height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
    .card>.card-content{
        margin-top: 80px;
        
    }
    .card>.card-content>.head{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .card>.card-content>.body{
        font-size: 8px;
        line-height: 8px;
    }
     /* accordion */
     .section-accordion{
        max-width: 95%;
        
    }
    .accordion-left>ul>li{
        max-width:350px;
    }
    .image-list li{
        height:165px;
    }
      .image-list .overlay{
        top:10%;
        left: 15%;
    }


}

@media only screen and (max-width:360px){
    /*s5 screen */
    .header-wrapper{
        width: 95%;
    }
    .body-header-wrapper{
        width: 95%;
    }
    .slider-image-wrapper>.caption{
        font-size: 0.5;
    }
    .section-third{
        max-width: 95%;
        
    }
    .card-wrapper>.card{
        width:152px;
        height:195px;
        margin-right: 30px;
        
    }
    .card-wrapper>.card:nth-child(2n){
        margin-right:0px;
        margin-left:0px;
        border:1px solid red;
    }
     /* accordion */
     .section-accordion{
        max-width: 95%;
    }
    .accordion-left>ul>li{
        max-width:340px;
        font-size: 12px;
    }
    
   


}



  
.second{
    max-width: 871px;
}

