.carousel-container {
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container img {
    position: absolute;
    left: 100%;
    transition: left 0.5s;
    transition-timing-function: ease-out;
}

#slide0 {
    left: 0;
}



.carousel-container a {
    position: absolute;
    display: block;
    top: 45%;
    background-color: red;
    width: 60px;
    height: 70px;
    line-height: 70px;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#prevSlide {
    left: 0px;
}

#nextSlide {
    right: 0px;
}





#carousel-indicator {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;

    text-align: center;

}

#carousel-indicator>li {
    display: inline;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-right: 5px;
}

.slideInLeft {
    left: -100%;
    animation: slideIn 1s forwards
}

.slideInRight {
    left: 100%;
    animation: slideIn 1s forwards
}

@keyframes slideIn {
    100% {
        left: 0;
    }
}

.slideOutLeft {
    left: 0;
    animation: slideOutLeft 1s forwards;
}

.slideOutRight {
    animation: slideOutRight 1s forwards;
}

@keyframes slideOutLeft {
    100% {
        left: -100%;
    }
}

@keyframes slideOutRight {
    100% {
        left: 100%;
    }
}