* {
  margin: 0;
  padding: 0;
}

.app {
  height: 785px;
  width: 804px;
  margin: 0 auto;
  background-image: url(./images/road-pixel.jpg);
  background-repeat: repeat-y;
  position: relative;
  overflow: hidden;
}

.road-asset {
  height: 270px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  /* background-color: rgba(255, 0, 0, 0); */
  /* border: 1px solid red; */
}

.main-car {
  width: 55px;
  height: 110px;
  position: absolute;
  background-image: url(./images/assets/car-main.png);
  background-repeat: no-repeat;
  z-index: 20;
}

.other-car {
  width: 55px;
  height: 110px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 20;
  border: 1px solid red;
}