* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bubble";
  src: url("./images/zorque.regular.ttf") format("truetype");
}

body {
  background-color: black;
  font-family: "bubble";
}

.app {
  height: 795px;
  width: 804px;
  margin: 0 auto;
  background-image: url(./images/road-pixel.jpg);
  background-repeat: repeat-y;
  position: relative;
  overflow: hidden;
}

.start-screen {
  height: inherit;
  width: inherit;
  background-color: #192D39;
  position: relative;
}

.start-btn {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  height: 200px;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  background-color: #9CDD07;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "bubble";
  font-size: 70px;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 10px #686868;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.start-btn:hover {
  background-color: rgb(146, 207, 2);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.road-asset {
  height: 270px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  /* background-color: rgba(255, 0, 0, 0.37); */
  /* border: 1px solid red; */
}

.main-car {
  width: 55px;
  height: 110px;
  position: absolute;
  background-image: url(./images/assets/car-main.png);
  background-repeat: no-repeat;
  z-index: 20;
  /* border: 1.5px solid green; */
}

.other-car {
  width: 55px;
  height: 110px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 20;
  /* border: 1.5px solid red; */
}

.score-top {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 50px;
  line-height: 50px;
  background-color: #2292D1;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 23px;
  z-index: 30;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-image: url(./images/assets/coin.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 50px;
  padding-right: 30px;
}

.timer-top {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 50px;
  line-height: 50px;
  background-color: #2292D1;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 23px;
  z-index: 30;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-image: url(./images/assets/clock.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 50px;
  padding-right: 30px;

}

.game-over-container {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 40;
  background-color: rgba(255, 0, 0, 0.473);
  animation: bg-color;
  animation-duration: 0.5s;
}

@keyframes bg-color {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.623);
  }
}

.game-over-wrapper {
  position: absolute;
  left: 17.5%;
  top: 20%;
  height: 450px;
  width: 500px;
  background-color: #76D4EE;
  z-index: 50;
  border-radius: 50px;
  border: 10px solid #54C2FA;
  box-shadow: inset 0 0 10px #686868;
  animation: slide;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

}

@keyframes slide {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.heading {
  height: 100px;
  width: inherit;
  background-color: rgb(25, 122, 179);
  border-top-left-radius: 39px;
  border-top-right-radius: 38px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 10px;


}

.score-value {
  width: 70%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background-color: #2292D1;
  margin-top: 10px;
  box-shadow: inset 0 0 10px rgb(24, 113, 165);
  border-radius: 50px;
  background-image: url(./images/assets/coin.png);
  background-size: 60px 60px;
  background-position: 20px 10px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-size: 60px;
  padding-left: 20px;

}

.try-again {
  margin: 0 auto;
  margin-top: 20px;
  height: 80px;
  width: 80px;
  background-color: #FFEB3B;
  left: 30%;
  background-image: url(./images/assets/try-again.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  cursor: pointer;

}

.try-again:hover {

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.subheading {
  color: white;

  font-size: 45px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}