.app {
  height: 700px;
  width: 804px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(./images/road-pixel.jpg);
  background-repeat: repeat-y;
  position: relative;
  overflow: hidden;
}

.lane {
  height: 152px;
  width: 166px;
  position: absolute;
  /* background-image: url(./images/assets/brush-1.png);
  background-repeat: no-repeat; */
  background-color: red;
}