* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'bold-font';
  src: url('./assets/FB.woff');
}
body{
  font-family: 'bold-font';
  background-color: #272B30;
}
.canvas-stage {
  position: relative;
  width: 480px;
  height: 640px;
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;

}

#ui-layer {
  z-index: 3;
}

#game-layer {
  z-index: 2;

}

#background-layer {
  z-index: 1;
}